.profile img {
  width: 200px;
  height: 200px;
}

.profile p {
  margin-bottom: 0.25rem;
}

.profile-content > div {
  margin-bottom: 0.5rem;
}

.profile-content i {
  margin-right: 7px;
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-bold-500 {
  font-weight: 500;
}

.profile {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.avatar {
  margin: 30px 10px;
}

.avatar::after {
  background: none repeat scroll 0 0 rgb(98, 98, 98);
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
}

.follow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.follow-button {
  text-align: center;
}

.follow-button button,
.follow-button button:hover {
  border-radius: 14px;
  border-color: black;
}

.post div.content {
  padding-top: 1rem;
  background-color: aqua;
}

.post .content > p {
  margin: 0 0.75rem;
}
