.profile img {
  width: 200px;
  height: 200px;
}

.profile p {
  margin-bottom: 0.25rem;
}

.profile-content > div {
  margin-bottom: 0.5rem;
}

.profile-content i {
  margin-right: 7px;
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-bold-500 {
  font-weight: 500;
}

.profile {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.avatar {
  margin: 30px 10px;
}

.avatar::after {
  background: none repeat scroll 0 0 rgb(98, 98, 98);
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
}

.follow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.follow-button {
  text-align: center;
}

.follow-button button,
.follow-button button:hover {
  border-radius: 14px;
  border-color: black;
}

.post div.content {
  padding-top: 1rem;
  background-color: aqua;
}

.post .content > p {
  margin: 0.75rem 0.75rem;
}

.custom-text-link {
  color:black; /* Màu xanh Instagram */
  text-decoration: none; /* Xóa gạch chân mặc định của liên kết */
  font-weight: 600; /* Tăng độ đậm của văn bản */
  font-size: 16px; /* Kích thước chữ */
  
  border-radius: 4px; /* Bo góc */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển màu mượt mà */
}

.custom-text-link:hover {
  background-color: #e8f4fb; /* Màu nền khi hover */
  color: #007bff; /* Màu văn bản khi hover */
  text-decoration: none; /* Xóa gạch chân khi hover */
}

/* CSS for the spinner */
.spinner {
  display: none; /* Ẩn spinner ban đầu */
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.spinner .spinner-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
