body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#footer{
    background-color: #c3dcd9;
}

.container {
    max-width: 1200px; /* Tăng chiều rộng của container */
    margin: 20px auto; /* Thêm khoảng cách phía trên */
    padding: 30px; /* Tăng padding */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px; /* Tăng khoảng cách dưới tiêu đề */
}

form {
    max-width: 1000px; /* Tăng chiều rộng của form */
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px; /* Tăng padding cho các input */
    margin-bottom: 20px; /* Tăng khoảng cách dưới */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 800px; /* Tăng chiều cao của textarea */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px; /* Tăng padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


#footer{
    background-color: #c3dcd9;
}
div.container {
    /* padding: top right bottom left;
    padding: top/bottom left/right; */
    padding: 50px 20px;
}
.btn-outline-secondary {
    background-color: #20B7A5; /* Adjust color as needed */
    border-color: #20B7A5;
    color: white;
}
.list-group{ 
    color: white;
    padding: 20px 0px;
    height: 500px; 
    overflow-y: auto;
    width: 20em;
}

#content-area {
    padding: 20px;
    height: 800px; 
    overflow-y: auto;
}
/*
.content-div{
    display: flex;
    flex-wrap: nowrap; 
}
*/
.card{
    margin-left: 10px;
    margin-bottom: 10px;
}
a.list-group-item.list-group-item-action.active{
    background-color: #20B7A5; /* Adjust color as needed */
    border-color: #20B7A5;
    color: white;
}

#add_blog{
    color: #20B7A5;
}