{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Green Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel = 'stylesheet' href = "{% static "css/style.css" %}">
    {% block css_file %} {% endblock css_file %}
  </head>
  <body>
    {% block content %} {% endblock %}
    <!-- Latest compiled JavaScript -->
    <!--footer-->
    <div class="border mt-4"></div>
    <div class="container my-5">
      <footer>        
          <div class="row" id = "footer" style="padding: 20px 0px;"> 
              <div class="col-4">
                  <h6 class="text-uppercase fw-bold">Liên hệ với chúng tôi</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                  <p>
                  <i class="bi bi-envelope"></i> phuga@gmail.com<br>
                  <i class="fab fa-facebook-f"></i> facebook.com/congaphu<br>
                  <i class="bi bi-telephone-fill"></i> 0123456789<br>
                  <i class="bi bi-geo-alt-fill"></i> Tòa H, ĐH Công nghiệp TP.HCM</p>
              </div>

              <div class="col-4">
                  <h6 class="text-uppercase fw-bold">Về Green Blog</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                  <p>Chúng tôi là một nền tảng viết blog</p>
              </div>

              <div class="col-4">
                  <h6 class="text-uppercase fw-bold">Dịch vụ</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                  <p>Viết blog</p>
              </div>
          </div>

          <div class="text-center p-3" style="color: #20B7A5;">
              <h3>From IUH With Love<i class="bi bi-hearts"></i></h3>
          </div>
      </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/297d4740e4.js" crossorigin="anonymous"></script>
    {% block script_file %} {% endblock script_file %}
    
  </body>
</html>
