{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Blog</title>
    {% load widget_tweaks %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/update_blog.js' %}"></script> 
    <link rel="stylesheet" href="{% static 'css/update_blog.css' %}">
    <!-- Include CKEditor full package -->
    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
</head>
<body>
    
    <div class="container">
        <!-- Category Modal -->
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for adding a new category -->
                        <form id="addCategoryForm">
                            <div class="form-group">
                            <label for="categoryName">Category Name:</label>
                            <input type="text" id="categoryName" name="name_category" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="categoryName">Description:</label>
                                <input type="text" id="descriptionCategory" name="description" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-outline-secondary" id="saveCategoryBtn">Save Category</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
            
        <!-- Header -->
        <div class="row">
            <div class="col">
            <img id="logo" src="{% static 'img/Logo.jpg' %}" alt="Logo" />
            </div>
            <div class="col">
            <div class="float-end div-logout">
                <button class="btn btn-outline-secondary" id="logout" type="button">
                Logout
                </button>
            </div>
            <div class="float-end div-user">
                <a href="/home/profile/{{user.id}}/" id="user-profile-link" style="text-decoration: none; color: inherit;">
                    <p style="padding-right: 20px;"><i class="bi bi-person-fill" style="font-size: 25px;"></i>{{user.username}}!</p>
                </a>
            </div>
            </div>
        </div>  

        <div class="row" id="update_blog">
            <h1>Update Blog</h1>
        </div>

        <form class="blog-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label for="category">Category:</label>
            </div>
            <div class="input-group mb-3">
                {% comment %} <input type="text" class="form-control" placeholder="Import category" aria-describedby="button-addon2"> {% endcomment %}
                <select id="category" name="category_id" class="form-control">
                    <!-- Assuming you'll populate this with categories dynamically -->
                </select>
                <!-- Button trigger modal -->
                <button id="addCategoryButton" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#categoryModal">
                    Add Category
                </button>
            </div>
            
            <div class="form-group">
                <label for="img">Cover image:</label>
                <br>
                <input type="file" id="img" name="img" class="form-control">
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="markdown">Content (Markdown):</label>
                <textarea id="markdown" name="markdown" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="published_date">Published Date:</label>
                <input type="datetime-local" id="date_published" name="date_published" class="form-control">
            </div>
            <div class="text-center"> <!-- Căn giữa nút bằng cách sử dụng div text-center -->
                <button type="submit" class="btn btn-outline-secondary">Update Blog</button>
            </div>
        </form>
    </div>

    <!--footer-->
    <div class="container my-5">
        <footer>        
            <div class="row" id = "footer" style="padding: 20px 0px;"> 
                <div class="col-4">
                    <h6 class="text-uppercase fw-bold">Liên hệ với chúng tôi</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                    <p><i class="bi bi-envelope"></i> phuga@gmail.com<br>
                    <i class="fab fa-facebook-f"></i> facebook.com/congaphu<br>
                    <i class="bi bi-telephone-fill"></i> 0123456789<br>
                    <i class="bi bi-geo-alt-fill"></i> Tòa H, ĐH Công nghiệp TP.HCM</p>
                </div>

                <div class="col-4">
                    <h6 class="text-uppercase fw-bold">Về Green Blog</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                    <p>Chúng tôi là một nền tảng viết blog</p>
                </div>

                <div class="col-4">
                    <h6 class="text-uppercase fw-bold">Dịch vụ</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #040404; height: 2px"/>
                    <p>Viết blog</p>
                </div>
            </div>

            <div class="text-center p-3" style="color: #20B7A5;">
                <h3>From IUH With Love<i class="bi bi-hearts"></i></h3>
            </div>
        </footer>
    </div>

    <script>
        CKEDITOR.replace('markdown', {
            height: 500
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/297d4740e4.js" crossorigin="anonymous"></script>
</body>
</html>
